body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 300px;
}

.brand-logo {
  margin: 0 5%;
  font-family: 'Cinzel', serif;
}

#dictatorImg {
  height: 55px;
  margin: 0 5px;
}

#nav-mobile{
 margin: 0 5%;
}

main {
  flex: 1 0 auto;
}

h5 {
  border-bottom: 1px solid rgb(221, 221, 221);
}

#chatDisplay {
  height: 300px;
  width: 100%;
  background: rgb(255, 255, 255);
  overflow-y: scroll;
  box-shadow:inset rgb(179, 179, 179) 1px 1px 7px;
  padding: 8px;
}

#chatTextArea {
  height: 120px;
  background: rgb(238, 238, 238);
  padding: 8px;
  width: 80%;
  overflow-y: scroll;
}

#microphoneIcon {
  max-width: 100px;
  width: 100%;
}

#dictationButton {
  text-align: right;
  overflow: hidden;
  padding-right: 8px;
  height: 120px;
  width: 20%;
  line-height: 120px;
}

#chatTextEntryAndMic {
  width: 100%;
  overflow: hidden;
  background: rgb(238, 238, 238);
  display: flex;
}

#interimTextDisplayLabel {
  display: none;
  background: rgb(238, 238, 238);
  padding: 4px;
  margin: 0;
  color: #aaaaaa;
  font-style: italic;
  border-bottom: 1px solid #aaaaaa;
}

#elementGeneration {
  height: 150px;
  background: rgb(238, 238, 238);
  white-space: pre-wrap;
  padding: 8px;
  overflow-y: scroll;
}

#elementTree {
  height: 250px;
  background: rgb(238, 238, 238);
}

.timestamp {
  font-style: normal;
  color: #888888;
}

.userChat {
  font-weight: bold;
  color: green;
}

.computerChat {
  font-weight: bold;
  color: purple;
}

#speech{
margin-top: 0;
padding: 0;
}

#leftSide{
  margin: 0 1% 0 3%;
}

#validateCode {
  margin-top: 15px;
}

#validatorBar {
  background-color: #c0c0c0;
  padding: 2px;
  cursor: pointer;
}

#validatorInstructions:hover {
  background-color: #24a599;
  color: white;
}

.validationContent {
  display: none;
  padding: 10px;
  background-color: #ededed;
  cursor: auto;
}

