body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 300px;
}

.brand-logo{
  margin: 0 5%;
}

#nav-mobile{
 margin: 0 5%;
}

main {
  flex: 1 0 auto;
}

h5{
  border-bottom: 1px solid rgb(221, 221, 221);
}

#chatDisplay{
  height: 300px;
  background: rgb(255, 255, 255);
  margin: 15px 11px;
  overflow-y: scroll;
  box-shadow:inset rgb(179, 179, 179) 1px 1px 7px;
  padding: 8px;
}

#chatTextArea{
  height: 120px;
  background: rgb(238, 238, 238);
  padding: 8px;
  width: 80%;
  overflow-y: scroll;
}

#microphoneIcon {
  max-width: 100px;
  width: 100%;
}

#dictationButton {
  text-align: right;
  overflow: hidden;
  padding-right: 8px;
  height: 120px;
  width: 20%;
  line-height: 120px;
}

#chatTextEntryAndMic {
  width: 100%;
  overflow: hidden;
  background: rgb(238, 238, 238);
  display: flex;
}

#interimTextDisplayLabel {
  background: rgb(238, 238, 238);
  padding: 4px;
  margin: 0;
  color: #aaaaaa;
  font-style: italic;
  border-bottom: 1px solid #aaaaaa;
}

#elementGeneration{
  height: 150px;
  background: rgb(238, 238, 238);
  white-space: pre-wrap;
  padding: 8px;
  overflow-y: scroll;
}

#elementTree{
  height: 250px;
  background: rgb(238, 238, 238);
}

.timestamp {
  font-style: normal;
  color: #888888;
}

.userChat {
  font-weight: bold;
  color: green;
}

.computerChat {
  font-weight: bold;
  color: purple;
}